/* --------------- footer st3 --------------- */
.tc-footer-st3 {
    position: relative;

    .foot-shapes {
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 150px;
    }

    .subscribe {
        position: relative;
        padding: 120px 0;
        border-bottom: 1px solid #9993;
        h2 {
            font-size: 120px;
            text-transform: capitalize;
        }
    }

    .links-wrapper {
        position: relative;
        padding: 120px 0;
        .contact-links {
            a {
                font-size: 32px;
                font-weight: 500;
                margin: 5px 0;
                &:hover {
                    color: var(--cr-orange1);
                }
            }
        }
    }

    .links-group {
        .links {
            a {
                font-size: 16px;
                opacity: 0.6;
                margin-bottom: 10px;
                &:hover {
                    opacity: 1;
                }
            }
        }
    }

    .foot {
        position: relative;
        padding: 30px 0;
        background-color: #f6f6f6;
        color: var(--cr-dark1);
        .foot-links {
            a {
                font-size: 16px;
                margin-inline-start: 30px;
            }
        }
    }

}

@media screen and (max-width: 991px) {
    .tc-footer-st3 {
        .subscribe h2 {
            font-size: 60px;
            margin-bottom: 30px;
        }
        .foot {
            text-align: center;
        }
    }
}