/* --------------- numbers st3 --------------- */
.tc-numbers-st3 {
    position: relative;
    padding: 120px 0;

    .numbers {
        position: relative;
        .row {
            .col-lg-3 {
                &:nth-of-type(2) {
                    .number-card {
                        &::after {
                            position: absolute;
                            content: "";
                            width: 20px;
                            height: 20px;
                            border-radius: 50%;
                            background-color: var(--cr-dark1);
                            right: 15px;
                            bottom: 60px;
                        }
                    }
                }
            }
        }
        .number-card {
            position: relative;
            width: 300px;
            height: 300px;
            border-radius: 50%;
            border: 1px solid #9993;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            padding: 60px;
            margin: 30px auto 0;
            overflow: hidden;
            p {
                font-size: 16px;
                color: #666;
                span {
                    color: #000;
                }
            }
            h3 {
                font-size: 62px;
                margin-top: 15px;
            }
        }
    }

}

@media screen and (max-width: 991px) {
    .tc-numbers-st3 {

    }
}