/* ========= [ * page-home_1 ]  =========*/
/* --------------- navbar st3 --------------- */
.tc-navbar-st3 {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background-color: transparent;
  z-index: 99;
  padding: 20px 3vw;
}
.tc-navbar-st3 .navbar-nav .nav-link {
  font-size: 16px;
  font-weight: 500;
  margin: 5px 15px;
  color: #151515;
  text-transform: capitalize;
}
.tc-navbar-st3 .navbar-nav .nav-link:hover, .tc-navbar-st3 .navbar-nav .nav-link.active {
  color: var(--cr-orange1);
}
.tc-navbar-st3 .navbar-nav .flag {
  height: 20px;
  -webkit-margin-end: 10px;
          margin-inline-end: 10px;
}
.tc-navbar-st3 .navbar-nav .lang-dropdown .nav-link {
  position: relative;
  -webkit-padding-start: 50px;
          padding-inline-start: 50px;
}
.tc-navbar-st3 .navbar-nav .lang-dropdown .nav-link::before {
  position: absolute;
  content: "";
  left: 0;
  top: calc(50% - 10px);
  height: 20px;
  width: 1px;
  background-color: #9995;
}
.tc-navbar-st3 .navbar-nav .lang-dropdown .dropdown-menu {
  left: 50px;
}
.tc-navbar-st3 .navbar-nav .search-item {
  -webkit-margin-start: 6vw;
          margin-inline-start: 6vw;
}
.tc-navbar-st3 .navbar-nav .menu-item .nav-link {
  position: relative;
  -webkit-padding-end: 50px;
          padding-inline-end: 50px;
}
.tc-navbar-st3 .navbar-nav .menu-item .nav-link:hover::before, .tc-navbar-st3 .navbar-nav .menu-item .nav-link:hover::after {
  background-color: var(--cr-orange1);
}
.tc-navbar-st3 .navbar-nav .menu-item .nav-link::before {
  position: absolute;
  content: "";
  right: 0;
  top: calc(50% + 4px);
  width: 40px;
  height: 2px;
  background-color: #151515;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.tc-navbar-st3 .navbar-nav .menu-item .nav-link::after {
  position: absolute;
  content: "";
  right: 0;
  top: calc(50% - 4px);
  width: 40px;
  height: 2px;
  background-color: #151515;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media screen and (max-width: 991px) {
  .tc-navbar-st3 {
    position: relative;
    background-color: #f6f6f6;
  }
  .tc-navbar-st3 .logo-wrapper {
    width: 100%;
  }
  .tc-navbar-st3 .logo-wrapper .navbar-brand {
    width: calc(100% - 80px);
  }
  .tc-navbar-st3 .navbar-nav .lang-dropdown .nav-link {
    -webkit-padding-start: 0;
            padding-inline-start: 0;
  }
}
/* --------------- header st3 --------------- */
.tc-header-st3 {
  position: relative;
  min-height: 100vh;
}
.tc-header-st3 .content {
  position: relative;
  padding: 120px 3vw;
}
.tc-header-st3 .shapes {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: right;
     object-position: right;
}
.tc-header-st3 .header_shap {
  position: absolute;
  top: 0;
  left: 30%;
  width: 40%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: top;
     object-position: top;
}
.tc-header-st3 .ltr1 {
  position: absolute;
  top: 80px;
  right: 7%;
  font-size: 220px;
  line-height: 1;
  background-image: url(../img/ltr1.jpg);
  background-size: contain;
  background-clip: text;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  text-transform: uppercase;
}
.tc-header-st3 .ltr2 {
  position: absolute;
  bottom: 70px;
  left: 4%;
  font-size: 220px;
  line-height: 1;
  background-image: url(../img/ltr2.jpg);
  background-size: contain;
  background-clip: text;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  text-transform: uppercase;
}
.tc-header-st3 h1 {
  position: relative;
  z-index: 20;
  margin: 100px 0;
  font-size: 200px;
  text-align: center;
  text-transform: capitalize;
}
.tc-header-st3 h1 .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.tc-header-st3 h1 .item small {
  font-size: 30px;
  -webkit-margin-end: 30px;
          margin-inline-end: 30px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.tc-header-st3 h1 .item .line {
  height: 1px;
  width: 300px;
  background-color: #999;
}
.tc-header-st3 .head-services {
  position: relative;
}
.tc-header-st3 .head-services .ser-row {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}
.tc-header-st3 .head-services .ser-row::before {
  position: absolute;
  content: "";
  top: 0;
  right: 100%;
  width: calc((100vw - 1300px) / 2 );
  height: 100%;
  border-top: 1px solid #151515;
  border-bottom: 1px solid #151515;
}
.tc-header-st3 .head-services .ser-row::after {
  position: absolute;
  content: "";
  top: 0;
  left: 100%;
  width: calc((100vw - 1300px) / 2 );
  height: 100%;
  border-top: 1px solid #151515;
  border-bottom: 1px solid #151515;
}
.tc-header-st3 .head-services .ser-row a:first-of-type {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-border-start: 0;
          border-inline-start: 0;
}
.tc-header-st3 .head-services .ser-row a:last-of-type {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  -webkit-border-end: 0;
          border-inline-end: 0;
}
.tc-header-st3 .head-services .ser-row .ser-link {
  font-size: 24px;
  font-weight: 600;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 40px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #151515;
  border-radius: 80px;
}
.tc-header-st3 .head-services .ser-row .ser-icon {
  position: relative;
  width: 80px;
  height: 80px;
  border: 1px solid #151515;
  border-radius: 50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.tc-header-st3 .head-services .ser-row .ser-icon img {
  width: 50px;
  height: 50px;
  -o-object-fit: contain;
     object-fit: contain;
}

@media screen and (max-width: 991px) {
  .tc-header-st3 h1 {
    margin: 80px 0;
    font-size: 60px;
  }
  .tc-header-st3 .ltr1,
.tc-header-st3 .ltr2 {
    font-size: 100px;
  }
  .tc-header-st3 .head-services .ser-row .ser-link {
    font-size: 10px;
    height: 40px;
    text-align: center;
    padding: 10px 10px;
  }
  .tc-header-st3 .head-services .ser-row .ser-icon {
    width: 30px;
    height: 30px;
  }
  .tc-header-st3 .head-services .ser-row .ser-icon img {
    width: 20px;
    height: 20px;
  }
}
/* --------------- about st3 --------------- */
.tc-about-st3 {
  position: relative;
  padding: 150px 0;
  overflow: hidden;
}
.tc-about-st3 .title {
  position: relative;
}
.tc-about-st3 .title .float-txt {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translateX(33%);
          transform: translateX(33%);
  line-height: 0.7;
  font-size: 220px;
  color: #f6f6f6;
  font-weight: bold;
  text-transform: uppercase;
  pointer-events: none;
}
.tc-about-st3 .title .btns {
  position: relative;
  z-index: 20;
  padding: 50px 0;
}
.tc-about-st3 .rotate-box {
  position: relative;
  width: 220px;
  height: 220px;
  display: block;
  z-index: 20;
  margin-top: 20px;
  -webkit-margin-start: -30px;
          margin-inline-start: -30px;
}
.tc-about-st3 .rotate-box .icon {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 35px;
  width: 35px;
  -o-object-fit: contain;
     object-fit: contain;
}
.tc-about-st3 .rotate-box .rotate-text {
  -webkit-animation: rotateText 20s linear infinite;
          animation: rotateText 20s linear infinite;
  font-weight: 300;
  text-transform: uppercase;
  position: absolute;
  left: 0;
  border-radius: 50%;
  color: #151515;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 500;
}
.tc-about-st3 .rotate-box .rotate-circle svg {
  width: 220px;
  height: 220px;
  fill: #151515;
  -webkit-transform: scale(1);
          transform: scale(1);
}
@-webkit-keyframes rotateText {
  0% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@keyframes rotateText {
  0% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
.tc-about-st3 .main-img {
  width: 415px;
  height: 415px;
  max-height: 90vw;
  max-width: 90vw;
}
.tc-about-st3 .main-img img {
  border-radius: 50%;
}

/* --------------- services st3 --------------- */
.tc-services-st3 {
  position: relative;
  padding-top: 150px;
  background-color: #f6f6f6;
}
.tc-services-st3::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: #fff;
}
.tc-services-st3 .services-slider {
  position: relative;
  overflow: hidden;
  padding-bottom: 70px;
  z-index: 20;
}
.tc-services-st3 .services-slider .swiper-slide-active .service-card {
  -webkit-box-shadow: 0 20px 20px #0001;
          box-shadow: 0 20px 20px #0001;
}
.tc-services-st3 .service-card {
  position: relative;
  background-color: #fff;
  padding: 50px 30px;
}
.tc-services-st3 .service-card .inf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}
.tc-services-st3 .service-card .inf .progress {
  height: 4px;
}
.tc-services-st3 .service-card .inf .progress .progress-bar {
  background-color: #151515;
}
.tc-services-st3 .service-card .img {
  position: relative;
  height: 320px;
}
.tc-services-st3 .service-card .img::after {
  position: absolute;
  content: "";
  right: calc(100% - 70px);
  top: calc(50% - 50px);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: var(--cr-orange1);
  -webkit-filter: blur(50px);
          filter: blur(50px);
}
.tc-services-st3 .service-card .img img {
  position: relative;
  z-index: 10;
}

/* --------------- capabilities st3 --------------- */
.tc-capabilities-st3 {
  position: relative;
  padding: 150px 0;
}
.tc-capabilities-st3 .accordion {
  position: relative;
  margin-top: 50px;
}
.tc-capabilities-st3 .accordion .accordion-item {
  border-radius: 0 !important;
  border: 0;
}
.tc-capabilities-st3 .accordion .accordion-item .accordion-button {
  border: 0;
  border-radius: 0 !important;
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin: 0;
  border-bottom: 1px solid #9994;
  color: #151515;
  padding: 20px 0;
}
.tc-capabilities-st3 .accordion .accordion-item .accordion-button::after {
  display: none;
}
.tc-capabilities-st3 .accordion .accordion-item .accordion-button .arrow {
  position: relative;
  -webkit-margin-start: auto;
          margin-inline-start: auto;
  width: 28px;
  opacity: 0.5;
}
.tc-capabilities-st3 .accordion .accordion-item .accordion-button:not(.collapsed) .arrow {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  opacity: 1;
}
.tc-capabilities-st3 .accordion .accordion-item .accordion-body {
  padding: 20px;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}
.tc-capabilities-st3 .accordion .accordion-item .accordion-body .img {
  height: 250px;
  margin: -90px 0;
}

@media screen and (max-width: 991px) {
  .tc-capabilities-st3 .accordion .accordion-item .accordion-body .img {
    margin: 20px 0 0;
  }
}
/* --------------- portfolio st3 --------------- */
.tc-portfolio-st3 {
  position: relative;
}
.tc-portfolio-st3 .title h2 {
  font-size: 200px;
  line-height: 0.8;
  text-transform: uppercase;
  font-weight: bold;
}
.tc-portfolio-st3 .nav-pills .nav-item {
  position: relative;
}
.tc-portfolio-st3 .nav-pills .nav-item:last-of-type .nav-link {
  padding-right: 0;
}
.tc-portfolio-st3 .nav-pills .nav-item:last-of-type .nav-link::after {
  display: none;
}
.tc-portfolio-st3 .nav-pills .nav-item .nav-link {
  position: relative;
  border-radius: 0;
  background-color: transparent;
  color: #777;
  text-transform: capitalize;
  font-size: 16px;
  padding-right: 25px;
}
.tc-portfolio-st3 .nav-pills .nav-item .nav-link::after {
  position: absolute;
  content: "/";
  right: 0;
  top: 7px;
}
.tc-portfolio-st3 .nav-pills .nav-item .nav-link.active {
  color: #151515;
}
.tc-portfolio-st3 .project-card {
  position: relative;
  display: block;
  margin-top: 50px;
}
.tc-portfolio-st3 .project-card:hover .img::after {
  opacity: 0.5;
}
.tc-portfolio-st3 .project-card:hover .info .cir-butn {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.tc-portfolio-st3 .project-card:hover .info h6 a {
  text-decoration: underline;
}
.tc-portfolio-st3 .project-card .img {
  position: relative;
  height: 550px;
  overflow: hidden;
}
.tc-portfolio-st3 .project-card .img::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--cr-dark1);
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.tc-portfolio-st3 .project-card .info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px;
  text-align: center;
}
.tc-portfolio-st3 .project-card .info .info-card {
  position: relative;
  padding: 30px;
}
.tc-portfolio-st3 .project-card .info .info-card * {
  position: relative;
  z-index: 20;
}
.tc-portfolio-st3 .project-card .info .info-card .bg {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 0;
}
.tc-portfolio-st3 .project-card .info .cir-butn {
  opacity: 0;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}
.tc-portfolio-st3 .project-card .info .cir-butn .cont img {
  width: 35px;
  height: 35px;
}
.tc-portfolio-st3 .btns .cir-butn {
  width: 300px;
  height: 300px;
}
.tc-portfolio-st3 .btns .cir-butn .txt {
  font-size: 30px;
}
.tc-portfolio-st3 .btns .cir-butn .arrow {
  width: 40px;
  height: 40px;
}

@media screen and (max-width: 991px) {
  .tc-portfolio-st3 .title h2 {
    font-size: 50px;
  }
  .tc-portfolio-st3 .nav-pills .nav-item .nav-link {
    font-size: 14px;
    padding-right: 15px;
  }
}
/* --------------- features st3 --------------- */
.tc-features-st3 {
  position: relative;
  padding: 150px 0;
}
.tc-features-st3 .feat-card {
  position: relative;
  padding: 40px 30px;
  border: 1px solid #9995;
  border-radius: 30px;
}

/* --------------- testimonials st3 --------------- */
.tc-testimonials-st3 {
  position: relative;
  background-color: #f6f6f6;
  padding-top: 150px;
}
.tc-testimonials-st3::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: #fff;
}
.tc-testimonials-st3 .vec1 {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  pointer-events: none;
}
.tc-testimonials-st3 .vec2 {
  position: absolute;
  bottom: 50px;
  right: 0;
  z-index: 1;
  pointer-events: none;
}
.tc-testimonials-st3 .testi-slider {
  position: relative;
  overflow: hidden;
  padding-bottom: 70px;
  z-index: 20;
}
.tc-testimonials-st3 .testi-card {
  position: relative;
  padding: 50px;
  background-color: #fff;
}
.tc-testimonials-st3 .testi-card .rate-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}
.tc-testimonials-st3 .testi-card .rate-wrapper .icon {
  height: 30px;
  -webkit-margin-end: 40px;
          margin-inline-end: 40px;
  position: relative;
  top: -10px;
}
.tc-testimonials-st3 .testi-card .rate-wrapper .num {
  font-size: 24px;
  font-weight: bold;
}
.tc-testimonials-st3 .testi-card .main-txt {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 10px;
  padding-bottom: 30px;
  margin-bottom: 40px;
  border-bottom: 1px solid #9993;
}

/* --------------- numbers st3 --------------- */
.tc-numbers-st3 {
  position: relative;
  padding: 120px 0;
}
.tc-numbers-st3 .numbers {
  position: relative;
}
.tc-numbers-st3 .numbers .row .col-lg-3:nth-of-type(2) .number-card::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--cr-dark1);
  right: 15px;
  bottom: 60px;
}
.tc-numbers-st3 .numbers .number-card {
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 1px solid #9993;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 60px;
  margin: 30px auto 0;
  overflow: hidden;
}
.tc-numbers-st3 .numbers .number-card p {
  font-size: 16px;
  color: #666;
}
.tc-numbers-st3 .numbers .number-card p span {
  color: #000;
}
.tc-numbers-st3 .numbers .number-card h3 {
  font-size: 62px;
  margin-top: 15px;
}

/* --------------- video st3 --------------- */
.tc-video-st3 {
  position: relative;
}
.tc-video-st3 .video-card {
  position: relative;
}
.tc-video-st3 .video-card .img {
  position: relative;
  height: 700px;
  overflow: hidden;
}
.tc-video-st3 .video-card .play-btn {
  position: absolute;
  top: calc(50% - 75px);
  left: calc(50% - 75px);
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
  font-size: 16px;
  text-transform: uppercase;
  background-color: #fff;
}

@media screen and (max-width: 991px) {
  .tc-video-st3 .video-card .img {
    height: 350px;
  }
}
/* --------------- clients st3 --------------- */
.tc-clients-st3 {
  position: relative;
  background-color: #f6f6f6;
  padding: 150px 0;
}
.tc-clients-st3 .vec1 {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  pointer-events: none;
}
.tc-clients-st3 .title {
  position: relative;
  margin-bottom: 20px;
}
.tc-clients-st3 .title .text {
  position: relative;
  padding-top: 20px;
}
.tc-clients-st3 .title .text .vec {
  position: absolute;
  top: 0;
  right: 0;
  height: 20px;
}
.tc-clients-st3 .cards .logo {
  padding: 50px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  margin-top: 30px;
}
.tc-clients-st3 .cards .logo img {
  height: 30px;
  max-width: 75%;
}

/* --------------- blog st3 --------------- */
.tc-blog-st3 {
  position: relative;
  padding: 150px 0;
}
.tc-blog-st3 .title-wrapper {
  position: relative;
  margin-bottom: 50px;
}
.tc-blog-st3 .title-wrapper .line {
  height: 100%;
  width: 1px;
  background-color: #D9D9D9;
  margin: auto;
}
.tc-blog-st3 .posts-slider {
  position: relative;
  overflow: hidden;
  padding-bottom: 70px;
}
.tc-blog-st3 .post-overlay {
  position: relative;
}
.tc-blog-st3 .post-overlay .img {
  position: relative;
}
.tc-blog-st3 .post-overlay .img::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.5;
}
.tc-blog-st3 .post-overlay .info {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 40px;
  z-index: 20;
  color: #fff;
}
.tc-blog-st3 .post-overlay .info .tags {
  position: relative;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
}
.tc-blog-st3 .post-overlay .info .title {
  font-size: 32px;
  text-transform: capitalize;
  line-height: 1.5;
}

@media screen and (max-width: 991px) {
  .tc-blog-st3 .post-overlay .info {
    padding: 15px;
  }
  .tc-blog-st3 .post-overlay .info .tags {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    line-height: 2;
  }
}
/* --------------- instagram st3 --------------- */
.tc-instagram-st3 .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100vw;
}
.tc-instagram-st3 .cards .img {
  position: relative;
  width: 20vw;
  height: 20vw;
}
.tc-instagram-st3 .cards .img:hover::after {
  opacity: 0.5;
}
.tc-instagram-st3 .cards .img:hover .icon {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.tc-instagram-st3 .cards .img::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--cr-dark1);
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.tc-instagram-st3 .cards .img .icon {
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #fff;
  color: #fff;
  font-size: 30px;
  z-index: 10;
  opacity: 0;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media screen and (max-width: 991px) {
  .tc-instagram-st3 .cards .img {
    width: 50vw;
    height: 50vw;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}
/* --------------- footer st3 --------------- */
.tc-footer-st3 {
  position: relative;
}
.tc-footer-st3 .foot-shapes {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 150px;
}
.tc-footer-st3 .subscribe {
  position: relative;
  padding: 120px 0;
  border-bottom: 1px solid #9993;
}
.tc-footer-st3 .subscribe h2 {
  font-size: 120px;
  text-transform: capitalize;
}
.tc-footer-st3 .links-wrapper {
  position: relative;
  padding: 120px 0;
}
.tc-footer-st3 .links-wrapper .contact-links a {
  font-size: 32px;
  font-weight: 500;
  margin: 5px 0;
}
.tc-footer-st3 .links-wrapper .contact-links a:hover {
  color: var(--cr-orange1);
}
.tc-footer-st3 .links-group .links a {
  font-size: 16px;
  opacity: 0.6;
  margin-bottom: 10px;
}
.tc-footer-st3 .links-group .links a:hover {
  opacity: 1;
}
.tc-footer-st3 .foot {
  position: relative;
  padding: 30px 0;
  background-color: #f6f6f6;
  color: var(--cr-dark1);
}
.tc-footer-st3 .foot .foot-links a {
  font-size: 16px;
  -webkit-margin-start: 30px;
          margin-inline-start: 30px;
}

@media screen and (max-width: 991px) {
  .tc-footer-st3 .subscribe h2 {
    font-size: 60px;
    margin-bottom: 30px;
  }
  .tc-footer-st3 .foot {
    text-align: center;
  }
}
@media screen and (max-width: 991px) {
  .home-st3 br {
    display: none;
  }
  .home-st3 .fsz-50 {
    font-size: 30px !important;
  }
  .home-st3 .fsz-45 {
    font-size: 25px !important;
  }
  .home-st3 .fsz-40 {
    font-size: 25px !important;
  }
  .home-st3 .mb-90 {
    margin-bottom: 40px !important;
  }
  .home-st3 .fsz-30 {
    font-size: 18px !important;
  }
  .home-st3 .mb-50 {
    margin-bottom: 30px !important;
  }
  .home-st3 .mt-5 {
    margin-top: 2rem !important;
  }
}