

/* --------------- variable --------------- */
:root{
    --cr-blue1:#7B68EE;
    --cr-orange1:#FF8851;
    --cr-green1:#CAF31F;
    --cr-dark1:#151515;
}
  
// ------------------ colors -------------------


// ------------------ blue1 ------------------

.cr-blue1 {
    color: var(--cr-blue1) !important;
}

.bg-blue1 {
    background: var(--cr-blue1) !important;
}

.border-blue1 {
    border-color: var(--cr-blue1) !important;
}

.hover-blue1:hover {
    color: var(--cr-blue1) !important;
} 

.hover-bg-blue1:hover {
    background: var(--cr-blue1) !important;
    border-color: var(--cr-blue1) !important;
    color: #fff !important;
    *{
        color: #fff;
    }
}


// ------------------ orange1 ------------------

.cr-orange1 {
    color: var(--cr-orange1) !important;
}

.bg-orange1 {
    background: var(--cr-orange1) !important;
}

.border-orange1 {
    border-color: var(--cr-orange1) !important;
}

.hover-orange1:hover {
    color: var(--cr-orange1) !important;
} 

.hover-bg-orange1:hover {
    background: var(--cr-orange1) !important;
    border-color: var(--cr-orange1) !important;
    color: #fff !important;
    *{
        color: #fff;
    }
}


// ------------------ green1 ------------------

.cr-green1 {
    color: var(--cr-green1) !important;
}

.bg-green1 {
    background: var(--cr-green1) !important;
}

.border-green1 {
    border-color: var(--cr-green1) !important;
}

.hover-green1:hover {
    color: var(--cr-green1) !important;
} 

.hover-bg-green1:hover {
    background: var(--cr-green1) !important;
    border-color: var(--cr-green1) !important;
    color: #151515 !important;
    *{
        color: #151515;
    }
}


// ------------------ dark1 ------------------

.cr-dark1 {
    color: var(--cr-dark1) !important;
}

.bg-dark1 {
    background: var(--cr-dark1) !important;
}

.border-dark1 {
    border-color: var(--cr-dark1) !important;
}

.hover-dark1:hover {
    color: var(--cr-dark1) !important;
} 

.hover-bg-dark1:hover {
    background: var(--cr-dark1) !important;
    border-color: var(--cr-dark1) !important;
    color: #fff !important;
    *{
        color: #fff;
    }
}


// ----------- hovers -----------
.hover-white:hover{
    color: #fff !important;
}

.hover-bg-white:hover {
    background-color: #fff !important;
    color: #000 !important;
    * {
        color: #000;
    }
}

.hover-black:hover{
    color: #000 !important;
}

.hover-bg-black:hover {
    background-color: #000 !important;
    color: #fff !important;
    * {
        color: #fff;
    }
}


.border-000 {
    border-color: #000;
}